html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('https://i.postimg.cc/CKPM4Lz7/background-1.png');
    background-repeat: repeat-y;
    background-color: #038196;
}

.navbg {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background-color: #FAF4F0;
}

.navlogo {
    width: 218px;
    margin-right: 3rem;
    margin-left: 1rem;
}

.navline {
    width: 0px;
    height: 56px;
    flex-shrink: 0;
}

.navheader {
    color: #038196;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left:3rem;
}

.adoptionborder {
    width: 15.875rem;
    height: 2.5rem;
    border-radius: 1.875rem;
    background: #FE97A6;
    border:none;
    margin-left:2rem;
}

.adoptiontext {
    color: #FAF4F0;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-weight: 800;
}

.peopleborder {
    width: 15.875rem;
    height: 2.5rem;
    border-radius: 1.875rem;
    background: #FE97A6;
    margin-left: 5rem;
    border: none;
}

.peopletext {
    color: #FAF4F0;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-weight: 800;
}

.petsborder {
    width: 15.875rem;
    height: 2.5rem;
    border-radius: 1.875rem;
    background: #FE97A6;
    margin-left: 5rem;
    border: none;
}

.petstext {
    color: #FAF4F0;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-weight: 800;
}

.analyticsborder {
    width: 15.875rem;
    height: 2.5rem;
    border-radius: 1.875rem;
    background: #FE97A6;
    margin-left: 5rem;
    border: none;
}

.analyticstext {
    color: #FAF4F0;
    font-family: Poppins;
    font-size: 1.5625rem;
    font-weight: 800;
}

.databasename {
    color: #FAF4F0;
    font-family: Poppins;
    font-size: 3.125rem;
    font-weight: 800;
}

.searchbox {
    width: 40rem;
    height: 3.75rem;
    border-radius: 1.875rem;
    background: rgba(250, 244, 240, 0.90);
    border: none;
    color: #A5CBC6;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
}

.databasetable {
    background-color: #FAF4F0;
    border-radius: 0.5rem;
    margin-top: 2rem;
    color: #032539;
    text-align: center;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 400;
    overflow:hidden;
}






