<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PurrfectPair.styles.css" asp-append-version="true" />
    <title>Manage Adoption</title>
</head>
<body>
    <div class="row">
        <div class="left-side col-5 col-md-12">
            <img src="https://s3-alpha-sig.figma.com/img/a968/dbd8/0b6000f37e19053ed479d8ffc02ad642?Expires=1701043200&Signature=AgXWeV4PuG1saPeH4UHYo-cFwYqRTtgzpAvxYYYkr3TTDD9uE5GRxA8OLp998dXOfURfVFro5ovq1WI3No3VC4G~vIH4~n88uN8GRQGNZobyw6~9Iq1hmoIrALZYomr2Ddaqlxtoltg4qcyiGLnpv~Q2emefva-0jDP72Wu4wBgufcnZIgcJwtRo2hGBKbGG17Sz0ufY88Olnp91Zwe7A9qjzlVys0bBrWz00h-SAc73cmuwpuQDYkb4c1v3R06IFsy127Wx0tpBETTskt3BvWO~ge~1mKtp0UoG6oqv0hxAgRbqXX0A8Ucb6TYQKJX-0fj6wzU82oPcfbJUWA27bA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="left-logo" alt="Logo" />
            <img src="https://s3-alpha-sig.figma.com/img/f834/7232/a36ab8ed7d16bd29d5db244f3f071c88?Expires=1701648000&Signature=imh6fHFjpRpEeMFzVl3OzOvkeE7ybpflwKiMFtqgMJtXauf37G5kvqBVn-JNVrncq3lPV2ojE9E6nl-8fSkbAGIfVX8crukxsn2CM6~2KiRWTvHdtuM~cyVuOQZ7auJdOF22glRSuo9bfkgj7TS-RDpVmJ5Uzcl6Pa6t~IVeOzA56VTysNNtEdBCMffMxuNuVFYVzwlW4wt0OuIeNxg5PIdjvf1RoqXEM79kwR-5rEdazWqLe~eG9dNm8q2k5bMTKMQi-1ER3PHDOOcyir1PJQfl57R~Q0sev5shn03fqwMG7GZ8-etppaOhyJJUBctRtse45jgoeVChFG~gPhy8wA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="left-dog" alt="Dog" />
            
        </div>
        <div class="right-side col-7 col-md-12">
            dvdv
        </div>
    </div>
    



</body>
</html>