body {
    background-image: url('https://s3-alpha-sig.figma.com/img/4dbc/0e4f/b70dfa36a6908da5e0e993d046ad4ac3?Expires=1701043200&Signature=oAVN1Pf~eOCuzzKhY03JJRkRK~oK07dfQ3SM8ebejChQUuxqG9Mr4ir~dR8JiE8aX2ZnABZOis04YHYkV6DNJK866C3VUGCc82I381xA42BlyMWPI5wDtFmScp3Ctpz-euHOSVqOguHYqNN90lzKEyq4eUYZe5p8Iz7IVYStDvyhdiP-uru5csC1Td8LKzhydCz9kbKR5br8zH5cgEYKI2krx3j~R1VVw-KXzjNtOoxxfBdcGp8lBdc8xXzZtdZLPz-8YynsCG-j2tqatJYqNiDZbkJv97hA5QNIhNdmxsXP5pnlM1Al0VzUsFJg6SRKGB8sorRTpVSw98jAuB5Q~Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
    padding-top: 100px;
    background-color: #FAF4F0;
}

.navbg {
    background-color: #038196;
    height: 100px;
    width: 100%;
    justify-content: center;
}

.navlogo {
    width: 218px;
    margin-left: 1rem;
}

.navtext {
    float: right;
}

.navtext li a {
    color: #FAF4F0;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    margin: 2rem;
}

.navtext li a:hover {
    color: #FE97A6;
}

.btnlogin {
    border: 4px solid #FE97A6;
    background-color: #038196;
    border-radius: 25px;
    width: 170px;
    height: 50px;
    margin-left: 1rem;
}

.btnlogintext {
    color: #FE97A6;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    padding: 3px;
    font-weight: 700;
}

.btnlogin:hover {
    border: 4px solid #FE97A6;
    background-color: #FE97A6;
}

.btnlogintext:hover {
    color: #FAF4F0;
}

.btnsignup {
    border: 4px solid #FE97A6;
    background-color: #FE97A6;
    border-radius: 25px;
    width: 170px;
    height: 50px;
    margin-left: 1rem;
    margin-right: 2rem;
}

.btnsignuptext {
    color: #FAF4F0;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    padding: 3px;
    font-weight: 700;
}

.btnsignup:hover {
    border: 4px solid #FE97A6;
    background-color: #038196;
}

.btnsignuptext:hover {
    color: #FE97A6;
}

.section-divider {
    position: relative;
    margin: 4rem 1rem 2rem 1rem;
    justify-content: center;
    flex-shrink: 0;
}

.banner-title {
    color: #58ABAE;
    margin-top: 4rem;
    text-align: center;
    font-family: Poppins;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.9;
}

.banner-text {
    color: #58ABAE;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 3;
}

.btnadopt {
    border: none;
    background-color: #FE97A6;
    border-radius: 25px;
    width: 213px;
    height: 42px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FAF4F0;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.btnadopt:hover {
    background: #58ABAE;
}

.banner-img {
    width: 502px;
    height: 535px;
}

.box-about {
    width: 425px;
    height: 350px;
    margin: 1rem;
    flex-shrink: 0;
    border-radius: 25px;
    background: #A5CBC6;
 
}

.box-adoption {
    width: 425px;
    height: 350px;
    margin: 1rem;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFD6D4;
    overflow: hidden;
}

.box-faqs {
    width: 425px;
    height: 350px;
    margin: 1rem;
    flex-shrink: 0;
    border-radius: 25px;
    background: #58ABAE;
    overflow: hidden;
}

.btn-about {
    width: 219px;
    height: 45px;
    margin: 1rem;
    padding: 3px;
    border-radius: 15px;
    background: #FAF4F0;
    float: right;

    color: #A5CBC6;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
}

.btn-about:hover {
    background: #A5CBC6;
    color: #FAF4F0;
    border: 1px solid #FAF4F0;
}

.btn-adoption {
    width: 219px;
    height: 45px;
    margin: 1rem;
    padding: 3px;
    border-radius: 15px;
    background: #FAF4F0;
    float: right;

    color: #FFD6D4;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
}

.btn-adoption:hover {
    background: #FFD6D4;
    color: #FAF4F0;
    border: 1px solid #FAF4F0;
}

.btn-faqs {
    width: 219px;
    height: 45px;
    margin: 1rem;
    padding: 3px;
    float: right;
    border-radius: 15px;
    background: #FAF4F0;

    color: #58ABAE;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
}

.btn-faqs:hover {
    background: #58ABAE;
    color: #FAF4F0;
    border: 1px solid #FAF4F0;
}

.about-img {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: flex-end;
}

.about-img img {
    position: absolute;
    left: -3%;
    bottom: -7%;
    width: 239px;
}

.adoption-img {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: flex-end;
}

.adoption-img img {
    position: absolute;
    left: -20%;
    bottom: -5%;
    width: 285px;
    height: 257px;
}

.faqs-img {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: flex-end;
}

.faqs-img img {
    position: absolute;
    left: -28%;
    bottom: -5%;
    width: 329px;
    height: 179px;
    transform: rotate(-8.302deg);
}

.box-texts {
    color: #032539;
    text-align: right;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    float: right; 
    margin-left: 9rem;
    margin-right: 1rem;
}

.about-img {
    width: 581px;
    height: 581px;
}

.about-logo {
    width:320px;
    height: auto;
}

.about-title {
    color: #58ABAE;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
}

.about-text {
    color: rgba(60, 60, 67, 0.85);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: justify-all;
}

.faqs-title {
    color: #58ABAE;
    text-align: center;
    font-family: Poppins;
    font-size: 70px;
    font-weight: 700;
    margin: 2rem;
}

.accordion-button {
    color: #FE97A6;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    background: #FFD6D4;
}

.accordion-button:not(.collapsed) {
    background: #FFD6D4;
    color: #FE97A6;
}

.accordion-body {
    color: rgba(60, 60, 67, 0.85);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    background: #FFD6D4;
}

.accordion-item {
    padding: 10px;
    background: #FFD6D4;
    border-radius: 10px;
    border: none;
}