.navbg {
    background-color: #038196;
    height: 100px;
    width: 100%;
    justify-content: center;
}

.navlogo {
    width: 218px;
}

.navtext {
    float: right;
}

    .navtext li a {
        color: #FAF4F0;
        font-family: Poppins;
        font-size: 22px;
        font-weight: 700;
        margin: 2rem;
    }

        .navtext li a:hover {
            color: #FE97A6;
        }

.btnlogin {
    border: 4px solid #FE97A6;
    background-color: #038196;
    border-radius: 25px;
    width: 170px;
    height: 50px;
    margin-left: 1rem;
}

.btnlogintext {
    color: #FE97A6;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    padding: 3px;
    font-weight: 700;
}

.btnlogin:hover {
    border: 4px solid #FE97A6;
    background-color: #FE97A6;
}

.btnlogintext:hover {
    color: #038196;
}

.btnsignup {
    border: 4px solid #FE97A6;
    background-color: #FE97A6;
    border-radius: 25px;
    width: 170px;
    height: 50px;
    margin-left: 1rem;
    margin-right: 2rem;
}

.btnsignuptext {
    color: #FAF4F0;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    padding: 3px;
    font-weight: 700;
}

.btnsignup:hover {
    border: 4px solid #FAF4F0;
    background-color: #FAF4F0;
}

.btnsignuptext:hover {
    color: #FE97A6;
}
